@import 'bootstrap/scss/bootstrap';
@import 'base/variables';
@import 'components/buttons';

// $breakpoints: (
//     xs-phone: 320px,
//     phone: 480px,
//     tablet: 768px,
//     desctop: 1024px,
//     widescreen: 1300px
// );

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    height: auto;
}

a {
    color: $grey;
    text-decoration: none;
    &:hover {
        color: $grey;
        text-decoration: none;
    }
} 

.wrapper {
    min-width: 20rem;
}

// ---------------------------------------------------

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.holder-social {
    border-bottom: 1px solid $yellow;
    @media screen and (min-width: 768px) {
        padding: 1rem 0;
    }
    a {
        font-size: 0.5rem;
        @media screen and (min-width: 768px) {
            font-size: 1rem;
        }
        color: $white;
    }
    .box-social {
        display: flex;
        flex-direction: column;
        margin: 0 -1rem;
        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
    }
    ul {
        li {
            padding: 0.3rem 0.3rem;
            @media screen and (min-width: 768px) {
                padding: 1rem;
            }
        }
    }
    .btn {
        color: $white;
        font-size: 0.6rem;
        @media screen and (min-width: 768px) {
           font-size: 1rem; 
        }
        &:first-child {
            border-right: 1px solid $yellow;
        }
    }
}

.address {
    padding-right: 1rem;
    a {
        font-size: 0.5rem;
        @media screen and (min-width: 768px) {
           font-size: 0.8rem; 
        }
    }
}

.holder-nav {
    @media screen and (min-width: 768px) {
       padding: 1.5rem 0; 
    }
    .logo {
        display: none;
        @media screen and (min-width: 768px) {
            display: block;
            width: 7rem;
        }
        @media screen and (min-width: 1024px) {
            width: 100%;
        }
    }
    .nav {
        display: none;
        @media screen and (min-width: 768px) {
            display: flex;
            margin: 0 -1rem;
        }
    }
    .nav-item {
        color: $white;
        padding: 0 1rem;
        a {
            text-transform: uppercase;
            font-size: 1rem;
            color: $white;
            &:hover {
                color: $yellow;  
            }
        }
    }
}


// ------------------------------------------------------

.banner {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    position: relative;
    color: #fff;
    @media screen and (min-width: 768px) {
        padding-top: 20%;
    }
    &:before {
        content: "";
        display: block;
        padding-top: 56.25%;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
    }
    h1 {
        font-size: 1.2rem;
        @media screen and (min-width: 768px) {
            font-size: 2rem;
            margin-bottom: 1.7rem;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 3rem;
        }
    }
    p {
        font-size: 0.6rem;
        @media screen and (min-width: 768px) {
            font-size: 1.2rem;
            margin-bottom: 1.7rem;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 3rem;
        }
    }
    a {
        color: #ffc001;
        font-size: 0.6rem;
        font-weight: $font-weight-bold;
        @media screen and (min-width: 768px) {
            font-size: 1.5rem;
        }
        @media screen and (min-width: 1024px) {
            font-size: 2.5rem;
        }
    }
    .holder-description {
        margin-top: 3rem;
        @media screen and (min-width: 768px) {
            margin-top: 10rem;
        }
        @media screen and (min-width: 1024px) {
            margin: 0;
        }
    }
    .description {
        text-align: center;
        @media screen and (min-width: 768px) {
            text-align: left;
            margin-bottom: 1.5rem;  
        }
    }
}

.inner-section {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

// ------------------------------------

.choose-tour {
    position: relative;
    z-index: 2;
    margin-top: -1.88rem;
    @media screen and (min-width: 768px) {
        margin-top: -2.2rem;
    }
    .nav-item {
        color: $grey;
        text-transform: uppercase;
        font-size: 0.6rem;
        @media screen and (min-width: 768px) {
            font-size: 0.8rem;
        }
        a {
            color: $grey;
            background-color: $white;
            &:hover {
                background-color: $yellow;
                color: $white;  
            }
        }
    }
    .nav-tabs .nav-link {
        border: 1px solid transparent;
    }
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        background-color: $yellow;
        color: $white;
    }
}

.holder-choose-tour {
    z-index: 2;
    @media screen and (min-width: 768px) {
        margin-bottom: 3.75rem;
    }
    h4 {
        font-size: 0.8rem;
        color: #616161;
        text-transform: uppercase;
    }
    .item {
        padding: 1rem 0.5rem;
        @media screen and (min-width: 768px) {
            padding: 3rem 1rem;
        }
    }
    input {
        border: none;
        color : $lighter-gray;
        font-size: 0.875rem;
        max-width: 7.05rem;
        padding: 0.6rem 0.9rem;
        @media screen and (min-width: 768px) {
            padding: 0.8rem 1.3rem;
            max-width: 11rem;
        }
    }
    .box {
        text-align: center;
        padding: 1rem 1.2rem;
        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }
}


// -----------------------------------------------------

h3 {
    font-size: 1rem;
    margin: 0;
    @media screen and (min-width: 768px) {
        font-size: 1.875em;
    }
}

span {
    font-size: 1rem;
}

.tab-content {
    background-color: #fafafa;
}

.holder-popular {
    padding-top: 3.75rem;
    margin-bottom: 3.75rem;
}

.holder-header {
    text-transform: uppercase;
    h4 {
        color: #ffc001;
        font-size: 0.8rem;
    }
    h2 {
        color: #333;
        font-size: 1.6em;
        @media screen and (min-width: 768px) {
            font-size: 1.875em;
        }
    }
}

.populer-plase-bg {
    background-image: url('../images/populer-plase-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
    position: relative;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100%;
    }
    &:before {
        content: "";
        display: block;
        padding-top: 9.49%;
    }
}

.holder-span {
    margin: 0 auto;
    span {
    font-size: 0.5rem;
        @media screen and (min-width: 768px) {
            font-size: 1rem;
        } 
    }
}

.holder-slider-populer {
    padding: 2.2rem 0;
    @media screen and (min-width: 768px) {
        padding: 3rem 0;
    }
    a {
        color: $grey;
    }
}

.carousel-caption {
    position: relative;
    background-color: #fff;
    opacity: 0.75;
    max-width: 22rem;
    height: 7.8rem;
    margin: 0 auto;
    color: #333;
    border-radius: 0.3rem;
    bottom: 3.8rem;
    z-index: 3;
    box-shadow: 0 0 10px #000;
    h5 {
        font-weight: $font-weight-bold;
        font-size: 1rem;
    }
}

.carousel-indicators {
    bottom: -3.75rem;
    li {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 100%;
        background-color: $yellow;
    } 
}

// --------------------------------------------

.box-header {
    padding: 1.65rem 0;
    @media screen and (min-width: 768px) {
        padding: 3.75rem 0;
    }
    max-width: 40rem;
    margin: 0 auto;
    h3 {
        @media screen and (min-width: 768px) {
            margin-bottom: 1.3rem;
        } 
    }
    span {
        font-size: 0.5rem;
        @media screen and (min-width: 768px) {
            font-size: 1rem;
        } 
    }
}

.holder-slider-destination {
    padding: 2rem 0;
}
